@import url('https://fonts.cdnfonts.com/css/blood-crow');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background:#090909;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
.container {
  max-width: 900px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 20px;
  }
}

a{
  color:#4E9F3D;
}
a:hover{
  color:#D8E9A8;
}

header {
  background: #191A19;
  padding: 20px 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link{
  color: #4E9F3D; 
  font-family: 'Blood Crow';
  text-decoration: none;
  font-size: 4.5vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}


.home-link a{
  text-decoration: none; 
}

.home-link a:hover {
  color: #D8E9A8; 
  text-decoration: none; 
}

/* main menu */
.main-menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.main-menu li {
  padding: 0 20px;
}
.main-menu a {
  color: #4E9F3D;
  text-decoration: none;
}
.main-menu a:hover {
  color: #D8E9A8;
  text-decoration: underline;
}

/* active nav links */
.home .home,
.other-page .other-page,
.blog .blog  {
  color: #ccc;
  pointer-events: none;
  cursor: default;
}

main {
  padding: 50px 0;
  background: #090909;
  color: #e8e8e8;
}

.image-container{
  text-align: center;
}

.image-container img{
  min-width: 300px;
}

img {
  display: inline;
  width: 100%;
  height: auto;
  max-width: 30%;
}

img[src$='#full-width'] { 
  max-width: 100%;
}
footer {
  background: #191A19;
  padding: 20px;
  color: #E8E8E8;
  margin-top: auto;
}
.blog-image {
  display: block;
  margin: 40px 0;
  max-width: 100%;
}

pre[class*="language-"] {
  background: #f3f3f3;
  border-left: 2px solid #000;
  position: relative;
  font-size: 14px;
}
pre[class*="language-javascript"]:after {
  position: absolute;
  top: 0;
  right:0;
  content: "js";
  padding: 5px;
  background-color: #f8f8f8;
}
.token.operator {
  background: transparent;
}

.blog-author {
  margin: 40px 0;
  padding: 20px;
  background-color: #f8f8f8;
}
.blog-author h2 {
  margin-top: 0;
}
.blog-author > div {
  display: flex;
  justify-content: flex-start;
}
.blog-author img {
  width: 150px;
}
.blog-author p {
  padding-left: 50px;
  font-style: italic;
}
.blog-list {
  list-style: none;
}

.blog-list li {
  padding-bottom: 50px;
  list-style-type: none;
}



.blog-list a {
  text-decoration: none;
  color: #e8e8e8;
}

.blog-list a h2 {
  display: inline-block;
  color: #4E9F3D;
  border-bottom: 1px solid #4E9F3D;
  transition: color 0.5s ease-in-out;
}
.blog-list a:hover h2 {
  color: #D8E9A8;
  border-bottom: 1px solid #D8E9A8;
}
.blog-list time {
  display: block;
}

blockquote {
  border-left: 4px solid red;
  background: #f8f8f8;
  padding: 20px;
  margin: 0;
}

.gitter-invite {
  text-decoration: none;
  margin-top: 50px;
  display: block;
}
.gitter-invite p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
}
.gitter-invite img {
  width: 40px;
  display: inline-block;
  margin: 0 10px;
}