<footer>
  <div class="container">
    <p>Email me: <a href="mailto:gitzandglory@gmail.com">gitzandglory@gmail.com</a></p>
    <p>Last site build: {{ stats.atime | UTCdate }}</p>
    <p class="copyright">
      © {{ "" | thisYear }} - Build with Metalsmith
    </p>
  </div>
</footer>