<footer>
  <div class="container">
    <p>Instagram: <a href="https://www.instagram.com/gitzandglory/">@gitzandglory</a></p>
    <p>Email me: <a href="mailto:gitzandglory@gmail.com">gitzandglory@gmail.com</a></p>
    <p class="copyright">
      © {{ "" | thisYear }} - Build with Metalsmith
    </p>
  </div>
</footer>