{% extends "layout.njk" %}

{% block body %}
  <div class="container">

    {{ contents | safe }}

    <h1>Latest Blogposts</h1>
    <ul class="blog-list">
    {% for blogPost in collections.blog %}
    {% if loop.index < 3%}
      {% include "partials/blog-post-item.njk" %}
    {% endif %}
    {% endfor %}
    </ul>
  </div>
{% endblock %}